@using OccasionInvitation.Domain.Enums;
@model OccasionInvitation.Models.DTOs.PersonDTO;

@{
    ViewData["Title"] = "RsvpToEvent";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" content="width=device-width"/>
        <title>Occasion Invite</title>
    </head>
    <body>
        <h1>Invites here</h1>
        <form asp-controller="Person" method="post">
            @using(Html.BeginForm())
            {
                <div>
                    @Html.LabelFor(model => model.Name, "Full Names:")
                    @Html.EditorFor(model => model.Name)
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.EmailAddress, "Email Address:")
                    @Html.EditorFor(m => m.EmailAddress)
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.PhoneNumber, "Phone Number:")
                    @Html.EditorFor(m => m.PhoneNumber)
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.isAdult, "Adult/Child")
                    @Html.DropDownListFor(m => m.isAdult, new SelectList(Enum.GetValues(typeof(CheckAgeEnum))), "Select Gender")
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.WillAttend, "Are you attending?")
                    @Html.DropDownListFor(m => m.WillAttend, new SelectList(Enum.GetValues(typeof(WillBeAttendingEnum))), "Choose response")
                </div>
                <br />
            <button asp-controller="Person" asp-action="RsvpToEvent" type="submit">RSVP Button</button>
            }
        </form>
    </body>
</html>

